Package: com.ps.assistivetouchflipswitch
Name: Assistive Touch Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Provides: org.thebigboss.astoggle
Replaces: org.thebigboss.astoggle
Conflicts: org.thebigboss.astoggle
Version: 1.0.0
Architecture: iphoneos-arm
Description: Flipswitch toggle for Assistive Touch.
Maintainer: PoomSmart
Author: PoomSmart
Section: Addons (Flipswitch)
