Package: org.thebigboss.astoggle
Name: Assistive Touch Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Version: 0.0.1
Architecture: iphoneos-arm
Description: Enable/Disable Assistive Touch using toggle.
Maintainer: PoomSmart
Author: PoomSmart
Section: Addons (Flipswitch)